<h2>Nearby Items</h2>

<ul class="large-block-grid-4">
  <% @items.each do |item| %>
    <li>
      <%= link_to item do %>
        <%= item.name %>
        <%= image_tag item.picture_320 %>
      <% end %>
    </li>
  <% end %>
</ul>
